<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Zip Code</th>
        <th scope="col">Activated</th>
      </tr>
    </thead>
    <tbody>
@for (user of users; track user.userID) {
    <tr>
        <th scope="row">{{ user.userID }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.telephone }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.country }}</td>
        <td>{{ user.zip_code }}</td>
        <td>{{ user.activated }}</td>
    </tr>
}@empty {
    <tr>
        <td colspan="9">No users found</td>
    </tr>
}