<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="banner-container">
                <img class="banner-image w-100" src="leaderboard.png" alt="Banner">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <!-- Frase motivacional en negro con efectos visuales -->
            <h2 class="font-weight-bold text-uppercase" style="font-family: 'Roboto', sans-serif; color: #000000; font-size: 3rem; letter-spacing: 3px; line-height: 1.3; display: inline-block; text-transform: uppercase; text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); animation: fadeInUp 2s ease-out;">
                ¡Rompe tus límites, transforma tu cuerpo y conquista tus metas!
            </h2>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <a href="#" class="btn btn-primary btn-lg w-25 mt-3 font-weight-bold text-uppercase" 
            style="border: black; font-family: 'Roboto', sans-serif; color: white; background-color: black; transition: background-color 0.3s;" 
            onmouseover="this.style.backgroundColor='gray'" 
            onmouseout="this.style.backgroundColor='black'">
            Solicita ser Socio
            </a>
        </div>
    </div>

    <br>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <!-- Encabezado de marcas -->
            <h3 class="font-weight-bold text-uppercase" style="font-family: 'Roboto', sans-serif; color: #000000;">
                Nuestras Marcas Colaboradoras
            </h3>
            <div class="logos d-flex justify-content-center flex-wrap">
                <!-- Logo 1 -->
                <div class="logo-item">
                    <img src="brands/sbd.png" alt="Logo 1" class="logo-img">
                </div>
                <!-- Logo 2 -->
                <div class="logo-item">
                    <img src="brands/hammer.png" alt="Logo 3" class="logo-img">
                </div>
                <!-- Logo 3 -->
                <div class="logo-item">
                    <img src="brands/eleiko.png" alt="Logo 3" class="logo-img">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <!-- Encabezado de testimonios -->
            <h3 class="font-weight-bold text-uppercase" style="font-family: 'Roboto', sans-serif; color: #000000;">
                ¿Qué dicen nuestros socios?
            </h3>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-light">
                <div class="card-body">
                    <p class="card-text font-italic">"¡Nunca me he sentido más fuerte ni más seguro! ¡Este gimnasio cambió mi vida!"</p>
                    <p class="card-text font-weight-bold">- John Doe</p>
                    <div class="rating">
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-light">
                <div class="card-body">
                    <p class="card-text font-italic">"Los entrenadores son increíbles y el ambiente es extremadamente motivador."</p>
                    <p class="card-text font-weight-bold">- Jane Smith</p>
                    <div class="rating">
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-gray-300"></fa-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-light">
                <div class="card-body">
                    <p class="card-text font-italic">"He perdido peso y ganado músculo gracias a este gimnasio. ¡Lo recomiendo totalmente!"</p>
                    <p class="card-text font-weight-bold">- David Lee</p>
                    <div class="rating">
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

