.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
form {
    max-width: 400px; /* Ancho máximo del formulario */
    width: 100%; /* Ancho adaptable */
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
  
.form-heading {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
  
.form-group {
    margin-bottom: 15px;
}

input.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
    font-size: 12px;
}