<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="banner-container">
                <img class="banner-image w-100" src="leaderboard.png" alt="Banner">
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <!-- Título de la sección -->
    <div class="row text-center">
        <div class="col-md-12">
            <h2 class="font-weight-bold text-uppercase" style="font-family: 'Roboto', sans-serif; color: #000000;">Nuestras Actividades</h2>
        </div>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @for (actividad of actividades; track actividad.id) {
            <div class="col">
                <div class="card h-100 shadow-sm border-0">
                    <img src="{{ actividad.imagen }}" class="card-img-top rounded" alt="Imagen de {{ actividad.tipo }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-primary fw-bold">{{ actividad.tipo }}</h5>
                        <p class="card-text text-muted flex-grow-1">{{ actividad.descripcion }}</p>
                        <a href="#" class="btn btn-outline-primary mt-3 align-self-start">Ver más</a>
                    </div>
                </div>
            </div>
        }@empty {
            <div class="col-12">
                <div class="alert alert-warning text-center fw-bold" role="alert">
                    No se han encontrado tipos de actividades.
                </div>
            </div>
        }
    </div>
</div>
