<div class="container mt-5">
    <!-- Título de la sección -->
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="font-weight-bold text-uppercase" style="font-family: 'Roboto', sans-serif; color: #000000;">Editar WebMaster</h2>
      </div>
    </div>
</div>
<div class="form-container">
    <form [formGroup] = "editWebmasterForm" (ngSubmit)="editWebmaster()">
        <!-- Encabezado -->
        <h3 class="form-heading ">Modifique o mantenga los campos para continuar</h3>
        
        <!-- Email Field -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email" placeholder="Modify the webmaster email" class="form-control" required>
        </div>
        <!-- Password Field -->
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" formControlName="password" type="password" placeholder="Modify the webmaster password" class="form-control" required>
        </div>
        <!-- Nombre Field -->
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input id="nombre" formControlName="nombre" type="text" placeholder="Mofify the webmaster name" class="form-control" required>
        </div>
        <!-- Telefono Field -->
        <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input id="telefono" formControlName="telefono" type="text" placeholder="Mofify the webmaster telephone" class="form-control" required>
        </div>
        <!-- Ciudad Field -->
        <div class="form-group">
            <label for="ciudad">Ciudad:</label>
            <input id="ciudad" formControlName="ciudad" type="text" placeholder="Mofify the webmaster telephone" class="form-control" required>
        </div>
        <!-- Direccion Field -->
        <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input id="direccion" formControlName="direccion" type="text" placeholder="Mofify the webmaster telephone" class="form-control" required>
        </div>
        <!-- Codigo Postal Field -->
        <div class="form-group">
            <label for="codigoPostal">Codigo Postal:</label>
            <input id="codigoPostal" formControlName="codigoPostal" type="text" placeholder="Mofify the webmaster telephone" class="form-control" required>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Modificar</button>
    </form>
</div>
