<footer class="footer bg-light text-dark pt-5 pb-4" style="border-top: 1px solid #ddd; margin-top: 30px;">
    <div class="container text-center text-md-left">
        <div class="row">
            <!-- Equipo Section -->
            <div class="col-md-4 mb-4">
                <h5 class="text-uppercase mb-4 font-weight-bold">Equipo</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark text-decoration-none">Trabaja con nosotros</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Entrenadores</a></li>
                </ul>
            </div>
            <!-- Clubs Section -->
            <div class="col-md-4 mb-4">
                <h5 class="text-uppercase mb-4 font-weight-bold">Clubs</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark text-decoration-none">Alicante</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Elche</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Valencia</a></li>
                </ul>
            </div>
            <!-- Recursos Section -->
            <div class="col-md-4 mb-4">
                <h5 class="text-uppercase mb-4 font-weight-bold">Recursos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark text-decoration-none">Blog</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Ejercicios</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Alimentación</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Soporte</a></li>
                </ul>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">&copy; 2025 PowerHouse. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>